.div__pokemon-card {
  width: 15%;
  margin: 38.5px;

  display: inline-flex;
  flex-direction: column;

  border-radius: 8px;
  border: 2px solid var(--light-gray);

  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

  transition: all .2s;
}

.div__pokemon-card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  transform: translateY(-6px);
}

.div__pokemon-card img {
  max-width: 30%;
}

.div__pokemon-card img:last-child {
  max-width: 70%;
}

.div__pokemon-card span {
  width: 2.5rem;
  height: 1.5rem;
  margin: -1px;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;

  border-radius: 5px 0 5px 0;

  background: var(--light-gray);
}

.div__pokemon-card h4 {
  width: 100%;
  height: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--light-gray);
}
