* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #d1e6ee;
  --gray-lighter: #ebe8e8;
  --gray-darker: #7c7b7b;
  --red-lighter: #fc7d7d;
  --red-vibrant: #ff4141;
}

@media(max-width: 1000px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.50%;
  }
}

body {
  background: var(--background);
  color: var(--gray-darker);
}

body, input, textarea, button {
  font: 400 1rem "Heebo", sans-serif;

  border: none;
  outline: inherit;
}
